<?xml version="1.0"?>
<launch>
  <arg name="use_static_tf" default="true" />

  <node pkg="rviz" type="rviz" name="rviz_textured_quads"
      args="-d $(find rviz_textured_quads)/config/rviz_textured_quads.rviz"
      output="screen"/>

  <node pkg="tf" type="static_transform_publisher" name="quad_broadcaster"
      args="3 3 0 -0.9 0 -1.57 world quad 20"
      if="$(arg use_static_tf)" /> 

  <node pkg="tf" type="static_transform_publisher" name="lidar_broadcaster" 
        args="-2.5 0 0 0 0 0 world lidar 50" 
      if="$(arg use_static_tf)" /> 

</launch>
